{% extends "base.html" %}

{% block content %}
<div class="max-w-lg mx-auto mt-10 bg-blue-300 p-8 rounded-xl shadow-md">

    <h2 class="text-2xl font-bold mb-4">Create New Group</h2>

    <form method="POST" class=" shadow p-6 rounded-lg">
        {% csrf_token %}
        {{ form }}

        <div class="flex justify-center mt-6">
                    <button class="bg-blue-500 px-4 py-2 rounded text-white font-medium hover:bg-blue-700 transition" type="submit">
                        Create
                    </button>
        </div>
    </form>

</div>
{% endblock %}
