{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Events Dashboard{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <style>body{font-family:Inter, sans-serif}</style>
  </head>
  <body class="bg-gray-500 p-6">
    <div class="max-w-[1400px] mx-auto">
      <header class="flex justify-between items-center mb-8">
        <h1 class="text-2xl font-semibold">Event Management</h1>
        <nav class="flex items-center gap-3">
          <div class="hidden md:flex space-x-8 font-extrabold">
          <a href="{% url 'home' %}" class="px-3 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700">Home</a>
          {% if is_admin %}
          <a href="{% url 'admin-dashboard' %}" class="px-3 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700">Admin Dashboard</a>
          {% endif %}
          {% if is_admin %}
          <a href="{% url 'organizer-dashboard' %}" class="px-3 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700">Organizer Dashboard</a>
          {% endif %}
          {% if is_organizer %}
          <a href="{% url 'organizer-dashboard' %}" class="px-3 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700">Organizer Dashboard</a>
          {% endif %}
          <a href="{% url 'dashboard' %}" class="px-3 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700">Dashboard</a>
          {% comment %} <a href="{% url 'add_participant' %}" class="px-3 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700">Add Participant</a> {% endcomment %}
          <a href="{% url 'add_category' %}" class="px-3 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700">Add Category</a>
          <a href="{% url 'create_event' %}" class="px-3 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700">Add Event</a>
        </div>
        <!-- Mobile Hamburger -->
      <button id="menu-btn" class="md:hidden text-gray-700 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none"
             viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
    </div>

    <!-- Mobile Dropdown -->
    <div id="mobile-menu" class="hidden flex-col md:hidden bg-white border-t border-gray-200">
          <a href="{% url 'home' %}" class="block px-4 py-2 hover:bg-blue-50">Home</a>
          {% if is_admin %}
          <a href="{% url 'admin-dashboard' %}" class="block px-4 py-2 hover:bg-blue-50">Admin Dashboard</a>
          {% endif %}
          {% if is_admin %}
          <a href="{% url 'organizer-dashboard' %}" class="block px-4 py-2 hover:bg-blue-50">Organizer Dashboard</a>
          {% endif %}
          {% if is_organizer %}
          <a href="{% url 'organizer-dashboard' %}" class="block px-4 py-2 hover:bg-blue-50">Organizer Dashboard</a>
          {% endif %}
          <a href="{% url 'dashboard' %}" class="block px-4 py-2 hover:bg-blue-50">Dashboard</a>
          {% comment %} <a href="{% url 'add_participant' %}" class="px-3 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700">Add Participant</a> {% endcomment %}
          <a href="{% url 'add_category' %}" class="block px-4 py-2 hover:bg-blue-50">Add Category</a>
          <a href="{% url 'create_event' %}" class="block px-4 py-2 hover:bg-blue-50">Add Event</a>

    </div>
        
        
        </nav>
      </header>

      <main>
       

        {% block content %}{% endblock %}
        <script src="{% static 'js/script.js' %}"></script>
      </main>
    </div>
     
  </body>
</html>